{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8">
    <h2 class="mb-4">Generate Cold Email</h2>
    <form method="POST" action="email">
      <div class="mb-3">
        <label class="form-label">Target Company / Industry</label>
        <input type="text" class="form-control" name="target" required>
      </div>
      <button type="submit" class="btn btn-success">Generate Email</button>
    </form>

    {% if email %}
    <hr>
    <h4>Generated Email</h4>
    <div class="position-relative">
        <button id="copyBtn" class="btn btn-sm btn-outline-secondary position-absolute top-0 end-0 m-2" onclick="copyEmail()">
          📋 Copy
        </button>
      
        <div id="emailContent" class="email-box p-3 border rounded mb-5" style="background: #f8f9fa; white-space: pre-line;">
          {{ email }}
        </div>
      </div>
      
      
    {% endif %}
  </div>
</div>
{% endblock %}
